.upldr-btn {
    border-left: 1px solid;
    border-radius: 0;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
    border-color: lightgray !important;
}

.form-control {
    height: auto !important;
}

.badge-lg {
    padding: 15px 40px !important;
    font-size: 20px !important;
}