{% extends '../layout.twig' %}

{% block body %}
    <div class="card">
        <div class="card border-success">
            <div class="card-header text-dark text-center font-weight-bold">
                <h5 class="card-title mb-0" style="text-transform: none;">Oh no.</h5>
            </div>
            <div class="card-body text-dark text-center">
                <b>This code is not valid.</b>
            </div>
        </div>
    </div>
{% endblock %}